h1{
    color: #e84848;
}

.input{
    position: relative;
    color: #ba5e49;
    padding: 1rem;
}

.input input{

    width: 38rem;
}
.material-icons {
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #646464;
}

.div-pokemon{

}

figure.fondo{
    background-color: #dbdbdb;
    padding: 2rem;
}